@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 105px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list {
    width: 50%;
    display: flex;
    align-items: center;
    color: black;
}

.nav-list li {
    list-style: none;
    padding: 25px 30px;
}

.nav-list li a {
    text-decoration: none;
    color: black;
}

.nav-list li a:hover {
    color: rgb(0, 0, 0);
}

.rightnav {
    width: 50%;
    text-align: right;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
}

.background {
    background-image: url(./images/b1.webp);
    background-size: cover;
    background-blend-mode: darken;
}

.firstsection {
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(63, 46, 46);
    font-family: 'segoe UI', tahoma, geneva, verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
    padding-left: 15%;
}

.fisthalf {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondhalf {
    width: 40%;
}

.secondhalf img {
    width: 40%;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big {
    font-size: 45px;
}

.text-small {
    font-size: 20px;
}

.btn {
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    font-size: 18px;
    background: none;
    color: rgb(7, 6, 6);
    cursor: pointer;
}

.btn-sm {
    padding: 3px 6px;
    vertical-align: middle;
}

.btn-dark {
    color: black;
    border: 2px solid black;
    justify-content: center;
    background-color: rgb(5, 115, 167);
}

.section {
    height: 400px;
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 75%;
    margin: auto;
    font-family: 'Roboto Slab', serif;
}

.section-left {
    flex-direction: row-reverse;
}

.paras {
    padding: 0px 65px;
}

.sectiontag {
    padding: 16px 0;
}

.thumbnail {
    width: 250px;
    border: 2px solid white;
    border-radius: 25px;
    margin-top: 19px;
}

.contact {
    background-color: #f6f5f4;
    height: 100vh;
    justify-content: center;
}

.text-center {
    text-align: center;
    padding: 20px;
}

.form {
    max-width: 344px;
    margin: auto;
}

.form-input {
    margin: 14px 0;
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    padding: 5px 3px;
}

.text-footer {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    color: rgb(151, 130, 130);
    color: #000000;
}

.burger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}


/*js*/


/*
@media only screen and (max-width: 1140px) {
    .nav-list {
        flex-direction: column;
    }
    .navbar {
        flex-direction: column;
    }
    .rightnav {
        text-align: center;
    }
    .box-main {
        flex-direction: center;
        max-width: 100%;
    }
    #search {
        width: 100%;
    }
    .burger {
        display: block;
    }
    .h-nav-resp {
        height: 72px;
    }
    .v-class-resp {
        opacity: 0
    }
}
